@font-face {
  font-family: 'PixelDart';
  src: url('../../gab-cod/Projeto.tech-main/./fontes-texto/PixelDart.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: rgb(42, 42, 42);
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1vmax;
  flex-direction: column;


}


main {
  border: 3px solid #aebbbb;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 170vmin;
  min-height: 90vmin;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
    background-image: url(/imgs//Sem\ título.jpg);
}




.container {
  border: 2px dashed #aebbbb;
  padding: 20px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  width: 160vmin;
  height: 83vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.container .tv .box {
    height: 24vmin;
    width: 30vmin;
    border-radius: 2px;
    border-color:#150e3f;
}


.container .tv{
height: 35vmin;
width: 45vmin;
background-image: url(/imgs/tv.png);
display: flex;
flex-direction: column;
padding-left: 3.4vmax;
padding-top: 3.6vmax;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


.titulo {
    margin-top: 18px;
    width: 70vmin;
    margin-bottom: 25px;


}


.perguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 50%;
}




.dica {
    padding: 0;
    margin-top: 0;
    height: 16vmin;
    margin-left: auto;
}


.dica p{
    font-size: clamp(0.5rem, 1vw, 1rem);
}


.lampada {
    height: 2.5vmax;
    width: 2.5vmax;
    margin-right: 50px;
    cursor: pointer;
}


.perguntas label {
    font-size: 1.6vmax;
    padding: 10px;
    border-radius: 3px;
    margin-top: 20px;
    font-family: 'PixelDart', sans-serif;
    text-align: center;
    color: rgb(250, 250, 250);
}


textarea {
    width: 60vmin;
    height: 15vmin;
    border: solid 0px black;
    box-shadow: 7px 0px black, -7px 0px black, 0px -5px black, 0px 5px black, 12px 7px rgb(80, 78, 78);
    resize: none;


}


.box {
    border: solid 5px #b499e0;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.minhaDiv {
    border: solid 3px white;
    height: 70%;
    width: 70%;
    padding: 0;
    margin: 0;

}


.box img {
    padding: 0;
    margin: 0;
}


.box * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    margin: 0;






}




button {
    margin-top: 10px;
    background-color: rgb(45, 55, 114);
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.escondido {
    display: none;
}
