*{overflow: hidden;}


@font-face {
  font-family: 'Cat Regular';
  src: url('./fontes-texto/Cat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'CatsFont Regular';
  src: url('./fontes-texto/CatsFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PixelDart';
  src: url('./fontes-texto/PixelDart.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: rgb(42, 42, 42);
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1vmax;
}


.box {
  border: 3px solid #aebbbb;
  padding: 20px;
  background-image: url('image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 170vmin;
  min-height: 90vmin;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}


main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.box2 {
  border: 2px dashed #aebbbb;
  padding: 20px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  width: 160vmin;
  height: 83vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.conteudo2 li {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  padding-left: 1vmax;
  padding-left: 1.2vmax;
}


.conteudo2 ul a {
  color: rgb(213, 209, 231);
  text-decoration: none;
  font-family: 'PixelDart', sans-serif;
  font-weight: bold;
  font-size: 30px;
}


ul a:hover {
  color: whitesmoke;
  cursor: pointer;
}




.conteudo2 {
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 50vmax;
}


.galeria1 {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(4px, 1fr));
  gap: 16px;
  max-width: 120vmin;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}


.galeria1 img {
  width: 80%;
  height: 19vmin;
  display: flex;
  padding-left: 1px;
}


.facil {
  border: dashed 3px  rgb(213, 209, 231);;
  width: 30vh;
  height: 19.85vmax;
  background-color: rgba(84, 65, 90, 0.5);
  -size: 25px;
  margin-top: 2px;
  font-family: 'Cat Regular', sans-serif;
  border-radius: 2%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
   p {
    font-size: 35px;
    margin-top: 1px;
    font-family: 'PixelDart', sans-serif;
    color:  rgb(213, 209, 231);




  }




   h1 {
    font-family: 'Cat Regular', sans-serif;
    color:  rgb(213, 209, 231);
    padding-left: 1px;
  }
}




.medio {
  border: dashed 3px  rgb(213, 209, 231);;
  width: 30vh;
  height: 19.85vmax;
  background-color: rgba(84, 65, 90, 0.5);
  -size: 25px;
  margin-top: 2px;
  font-family: 'Cat Regular', sans-serif;
  border-radius: 2%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 26px;
  padding-right: 26px;
   p {
    font-size: 35px;
    margin-top: 1px;
    font-family: 'PixelDart', sans-serif;
    color:  rgb(213, 209, 231);




  }




   h1 {
    font-family: 'Cat Regular', sans-serif;
    color:  rgb(213, 209, 231);
    padding-left: 1px;
  }
}




.dificil {
  border: dashed 3px  rgb(213, 209, 231);;
  width: 30vh;
  height: 19.85vmax;
  background-color: rgba(84, 65, 90, 0.5);
  -size: 25px;
  margin-top: 2px;
  font-family: 'Cat Regular', sans-serif;
  border-radius: 2%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
   p {
    font-size: 35px;
    margin-top: 1px;
    font-family: 'PixelDart', sans-serif;
    color:  rgb(213, 209, 231);




  }




   h1 {
    font-family: 'Cat Regular', sans-serif;
    color:  rgb(213, 209, 231);
    padding-left: 1px;
  }
}




.box3 {
  padding: 20px;
  margin: 10px;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 600px;
  height: 5vmax;
  background-image: url(image\ copy\ 2.png);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
}




.box4 {
  padding: 20px;
  margin: 10px;
  width: 1000px;
  min-height: 10vh;
  margin-top: 10vmax;
}




.facil:hover {


  cursor: pointer;
  background-color: rgba(167, 196, 167, 0.6);
  border-color: rgb(84, 65, 90);
 
   p {
    font-size: 35px;
    margin-top: 1px;
    font-family: 'PixelDart', sans-serif;
    padding-left: 1px;
    color:  rgb(84, 65, 90);




  }




   h1 {
    font-family: 'Cat Regular', sans-serif;
    color:   rgb(84, 65, 90);
    padding-left: 1px;
  }
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.08);
}




.medio:hover {


  cursor: pointer;
  background-color: rgba(232, 235, 180, 0.6);
  border-color: rgb(84, 65, 90);


  p {
    font-size: 35px;
    margin-top: 1px;
    font-family: 'PixelDart', sans-serif;
    padding-left: 1px;
    color:  rgb(84, 65, 90);




  }




   h1 {
    font-family: 'Cat Regular', sans-serif;
    color:   rgb(84, 65, 90);
    padding-left: 1px;
  }
   transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.08);
}




.dificil:hover {
 
  cursor: pointer;
  background-color: rgba(223, 172, 168, 0.6);
  border-color: rgb(84, 65, 90);


  p {
    font-size: 35px;
    margin-top: 1px;
    font-family: 'PixelDart', sans-serif;
    padding-left: 1px;
    color:  rgb(84, 65, 90);




  }




   h1 {
    font-family: 'Cat Regular', sans-serif;
    color: rgb(84, 65, 90);
    padding-left: 1px;
  }
   transition: background-color 0.3s ease, transform 0.3s ease;
   transform: scale(1.08);
}
